{% extends 'base.html' %}

{% block title %}Mis Reservas{% endblock %}

{% block content %}
<h2>Mis Reservas</h2>

{% if reservas %}
    <ul>
        {% for r in reservas %}
            <li>
                {{ r.fecha }} {{ r.hora }} - {{ r.cancha.nombre }}
                <a href="{% url 'modificar_reserva' r.id %}">Modificar</a> |
                <a href="{% url 'cancelar_reserva' r.id %}">Cancelar</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tenés reservas activas.</p>
{% endif %}
{% endblock %}
